/* Body
-----------------------------------------------*/
html,  body{
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}
html{
  scroll-behavior: smooth;
}
body, p, select, textarea{
  font-family: 'Poppins', sans-serif;
}
img{
  max-width: 99%;
  max-height: 99%;
}
body, h1, h2, h3, h4, h5, h6, input, select, textarea {
  font-weight: 300;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.text, .textarea{
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 14px;
    font-size: 1rem;
}
.textarea{
  height: 40px;
}
/* Global Styles
----------------------------------------------------*/
.section{
  padding: 8%;
  border-bottom: 1px solid #f1f1f1;
}
.section-title{
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  margin: 0;
}
.lead{
  line-height: 1.25;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.project-description{
  font-size: 1.2rem;
  width: 95%;
}
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.list-inline{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  font-size: 0.85rem;
  color: #999;
  margin-left: -7%;
}
.list-inline-item{
  flex-grow: 1;
  margin-bottom: 5px;
}
.list-inline-item .fa{
  color: #33ccff;
  margin-right: 7px;
}
.form-field{
  margin-bottom: 10px;
}
.img-rounded{
  border-radius: 100%;
}
.btn{
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  background: #ccc;
  color: #000;
  padding: 15px 20px;
  border: none;
  font-weight: bold;
}
.btn-portfolio{
  font-family: 'Poppins';
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  background: #ccc;
  color: #000;
  padding: 8px 20px;
  border: none;
}
.btn-primary{
  background-color: #33ccff;
  color: #fff;
  transition: all ease-out 0.3s;
}
.btn-primary:hover{
  color: #33ccff;
  background: #fff;
  border: 1px solid #33ccff;
}
.features-list{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.feature-item{
  margin-right: 2rem;
}
.feature-icon{
  font-size: 2rem;
  background: #33ccff;
  color: #fff;
  padding: 15px;
  border-radius: 100%;
}
.feature-title{
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 14px;
  border-bottom: 1px solid #e4e4e4;
}
.feature-description{
    font-size: 1.1rem;
}
@media (min-width: 0px) and (max-width: 768px) {
.features-list{
  display: block;
}
.feature-item{
  margin: 0;
  padding: 0;
}
.btn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
/* Header
-----------------------------------------------------------*/
.site-header {
  position: fixed;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 3;
}
.brand{
  line-height: 1;
  font-size: 20px;
  font-family: 'Architects Daughter';
  font-size: 1.75rem;
}
.brand a {
  text-decoration: none;
  color: #333;
  margin-left: -50%;
}
@media (min-width: 0px) and (max-width: 768px) {
.brand a{
  margin-left: 0;
  }
}

/* About
--------------------------------------------*/
#about{
  padding-top: 120px;
  height: 100%;
}
#about .section-header{
  margin-left: 2rem;
  width: 100%;
}
.site-title{
  font-size: 4rem;
  margin-left: -2rem;
  width: 100%;
  padding: 5%;
  color: #33ccff;
  font-family: "Pacifico", cursive, sans-serif;
  letter-spacing: 3px;
}
#about .lead{
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
}
#avatar{
  border-radius: 100%;
  width: 40rem;
  height: 35rem;
  display: flex;
  margin: 0 auto;
  margin-left: -5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
@media (min-width: 0px) and (max-width: 768px) {
    #avatar{
      height: 400px;
      margin-left: 0;
      height: auto;
    }
    #about{
      height: fit-content;
    }
    #about .lead{
      font-size: 1rem;
    }
    .site-title{
      font-size: 2.3rem;
    }
    #about .site-title{
      text-align: center;
    }
    #about .section-header{
      margin-left: 0;
      width: 100%;
    }
}
/* Skills
--------------------------------------------*/
#skills{
  background: #fafafa;
  padding: 5rem;
}
#skills .section-title{
  background: #fafafa;
  padding-top: 8%;
}
#skills .lead, #jobs .lead{
  margin: 0 auto;
  margin: 3rem 2rem;
}
.feature-description {
  font-size: 1.2rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  #skills .section-header{
    margin-left: 0;
  }

  .feature-description{
    font-size: 1rem;
    padding: 3%;
  }
}
/* Portfolio
--------------------------------------------*/
#lead-portfolio{
  margin: 3rem 0;
}
.project-title{
  font-size: 3.5rem;
  margin: 0;
  line-height: 1;
  font-family: "Yellowtail", cursive, sans-serif;
  color: #33ccff;
}
@media (min-width: 481px) and (max-width: 768px) {
    .portfolio .col3{
      grid-column: span 6;
    }
}
@media (min-width: 0px) and (max-width: 480px) {
    .portfolio .col3{
      grid-column: span 12;
      text-align: center;
    }
}
/* experiences
--------------------------------------------*/
#jobs{
  background: #f2f2f2;
}
.experiences{
  margin: 0 auto;
  width: 80%;
}
.experience-item{
  background: #fff;
  padding: 30px 25px 20px 25px;
  height: 500px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.experience-item:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.experience-avatar{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50%;
}
.experience-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.experience-content{
  line-height: 1.5; 
}
.experience-author{
  color: #33ccff;
  font-weight: 700;
}
/* Contact
--------------------------------------------*/
#contact{
  background: #222;
  border-color: #333;
}
#contact .section{
  border-bottom: 1px dotted #444;
}
#contact .section-title{
  font-family: "Yellowtail", cursive, sans-serif;
  color: #33ccff;
  padding-top: 8%;
}
#contact .lead{
  color: #777;
}
.form-title{
  color: #999;
  font-size: 2.25rem;
  margin: 0 0 10px 0;
  padding-top: 8%;
}
.dark .text, .dark .textarea{
    color: #999;
    border-color: #222;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.6);
    resize: none;
}
.dark .btn-submit{
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 300;
}
.dark .btn-submit:hover, .dark .btn-submit:focus{
    background-color: rgba(0, 0, 0, 0.35);
    border-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
#status-message{
  margin-top: 0.7rem;
  padding: 1rem;
  color: #fff;
}
#status-message.error{
  background: #dc3545;
}
#status-message.success{
  background: #28a745;
}
/* Footer
----------------------------------------------------------------------------- */
.site-footer {
    padding: 20px;
    background: #2d2d2d;
    color: #999;
}
